In [17]:
import pandas as pd
import numpy as np

In [18]:
#Question 1. Pandas version (1 point)

In [19]:
pd.__version__

'2.2.3'

In [22]:
#Question 2. Records count (1 point)  #2160
df=pd.read_csv('pc_data.csv')
df

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

In [24]:
# Question 3. Laptop brands
df['Brand'].nunique() # 27

27

In [27]:
#Question 4. Missing values   # 3
df.isnull().any()

Laptop          False
Status          False
Brand           False
Model           False
CPU             False
RAM             False
Storage         False
Storage type     True
GPU              True
Screen           True
Touch           False
Final Price     False
dtype: bool

In [28]:
#Q5. Maximum final price
#What's the maximum final price of Dell notebooks in the dataset?

In [34]:
df[df['Brand']=='Dell']['Final Price'].max()

np.float64(3936.0)

# Q6. Median value of Screen
1. Find the median value of Screen column in the dataset.
2. Next, calculate the most frequent value of the same Screen column.
3. Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
4. Now, calculate the median value of Screen once again.

In [37]:
df['Screen'].median()

np.float64(15.6)

In [38]:
df['Screen'].mode()

0    15.6
Name: Screen, dtype: float64

In [41]:
df['Screen'].fillna(15.6, inplace=True)

In [44]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             0
Touch              0
Final Price        0
dtype: int64

In [45]:
df['Screen'].median() # no

np.float64(15.6)

### Q7. Sum of weights
1. Select all the "Innjoo" laptops from the dataset.
2. Select only columns RAM, Storage, Screen.
3. Get the underlying NumPy array. Let's call it X.
4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5. Compute the inverse of XTX.
6. Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.   
 What's the sum of all the elements of the result?

In [58]:
Innjoo=df[df['Brand']=='Innjoo'][['RAM','Storage','Screen']]
Innjoo

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [60]:
X=Innjoo.to_numpy()

In [67]:
X.shape

(6, 3)

In [69]:
Xtran=np.transpose(X)

In [95]:
XT=X.T
XT.shape

(3, 6)

In [78]:
assert (XT==Xtran).all()

In [81]:
assert (XT == Xtran).all(), "The arrays are not equal"

In [85]:
#Multiply two matrices
XTX=np.dot(XT, X)
XTX.shape

(3, 3)

In [106]:
XTX_inv=np.linalg.inv(XTX)
X.shape
result=np.dot(XTX_inv,XT)
result.shape

(3, 6)

In [94]:
X_T=np.linalg.inv(XTX)
X_T.shape

(3, 3)

In [107]:
y=np.array([1100, 1300, 800, 900, 1000, 1100])
y.shape

(6,)

In [109]:
result_f=np.dot(result, y)

In [111]:
sum(result_f)

np.float64(91.2998806299555)